body {
  background-color: #fff;
  font-family: 'Helvetica Neue Light', Helvetica, 'Open Sans', sans-serif;
}

p {
  font-weight: 100;
  font-size: 1.5em;
}


h3, h4, h1 {
  font-family: 'Open Sans', 'Helvetica Neue Light', Helvetica, 'Open Sans', sans-serif;

}

.top {
  background-image: url("logo-retina@2x.png");
  background-position: right ;
  background-repeat: no-repeat;
  background-size: 180px 180px;
}

h4 {
  font-size: 2em;
}

h1 {
  font-size: 3em;
}

h1 small {
  font-family: 'Open Sans', 'Helvetica Neue Light', Helvetica, sans-serif;
}

span.label {
  font-size: 1.2em;
  font-family: 'Open Sans', 'Helvetica Neue Light', Helvetica, sans-serif;
  font-weight: 100;
}

.navbar-brand {
  color: #111111;
}

.callout {
  margin: 0px 0px;
  padding: 20px;
  border-left: 5px solid #EEE;
}

.callout-other {
  border-color: #463265;
  background-color: #eee;
}

.callout-blue {
  background-color: #F4F8FA;
  border-color: rgba(146, 145, 182, 1);
}

.listheader-other {
  background-color: #463265;
  color: #fff;
  border: 2px solid #463265;
}

.label-purple {
  background-color: #463265;
}

.label-purple-inter {
  background-color: rgba(105, 92, 125, 1);
}
